.btn{
    font-family: 'Poppins';
    font-size: 1.25rem;
    text-decoration: none;
    color: inherit;
    &__hoverable{
        position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    background-color: rgba($primary, $alpha: 1.0);
                    transform: scaleX(1);
                    transform-origin: left top;
                    transition: transform .5s cubic-bezier(.41,.4,.26,.99);
                }
                &:hover{
                    &::before{
                        transform-origin: right top;
                        transform: scaleX(0);
                    }
                }
    }
}