.about{
    padding-bottom: 0;
    min-height: auto !important;
    &-content{
        position: relative;
        width: 100%;
        color: white;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }
    .circleAnim{
        position: absolute;
        right: 0;
        top: 60%;
        transform: scale(.7);
        opacity: .33;
    }
    @media(min-width: $breakpoint-lg){
        .circleAnim{
            top: 25%;
        }
        &-content{
            padding: 8rem 0;
            width: 70%;
        }
    }
}

.about-block{
    padding: 4rem 0;
    .about-image{
        height: 100%;
        background-size: cover;
        min-height: 500px;
    }
}