.footer-slider{
    margin-top: 10vh;
}

footer{
    font-family: 'Poppins', 'Montserrat', sans-serif;
    font-size: 1.25rem;
    .footer-wrapper{
        color: inherit;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        color: rgba($color: #fff, $alpha: .5);
    }
    .social{
        ul{
            li{
                display: inline-block;
                padding: 0 .5rem;
            }
        }
    }
}