.section-quality{
    h2.section-heading{
        text-align: center;
        color: $primary;
        font-size: 4rem;
        line-height: 4rem;
        margin-bottom: 10rem;
        font-family: 'Poppins';
        font-weight: 400;
        margin: 0;
        span{
            margin: 0;
            display: block;
            font-family: 'Newyork';
        }
    }
    .quality-image{
        min-height: 40vh;
        width: 100%;
        background-size: cover;
    }
    .block-content{
        width: 100%;
        margin-left: auto;
    }
    @media(min-width: 768px){
        .quality-image{
            min-height: 80vh;
            width: 100%;
        }
        .block-content{
            width: 70%;
            margin-left: auto;
        }
        h2.section-heading{
            font-size: 10rem;
            line-height: 10rem;
        }
    }
}

.material-content{
    margin-top: 10vh;
    .material-image{
        height: 40vh;
        width: 100%;
        background-position: center center;
    }
    @media(min-width: $breakpoint-md){
        .material-image{
            height: 80vh;
            width: 100%;
        }
    }
}