
.grid-columns{
    display: flex;
    flex-direction: column;
    @media(min-width: $breakpoint-sm){
        display: grid;
        gap: 3rem;
    }
}

@each $size in $gridamounts{
    .grid-#{$size}{
        grid-template-columns: repeat(#{$size}, 1fr);
    }
  }