$dark: #19191B;
$primary: #FEF6C6;
$orange: #F0C76D;

$spacer: 1rem;

// Grid amount
$gridamounts: ( 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 );

$units: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100);

$sides: ('top', 'right', 'bottom', 'left');

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1440px;

$displays: ($breakpoint-sm, $breakpoint-md, $breakpoint-lg, $breakpoint-xl, $breakpoint-xxl);